/* importing normalize here */
@import "normalize.css";

/* media quieries */
/* mobile screen */
@media screen and (min-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        background-color: #D2ACB2;
        border: 2px solid #5260A8;
        text-align: center;
    }
}
/* tablet screen */
@media screen and (max-width: 782px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: #D2ACB2;
        border: 2px solid #5260A8;
        text-align: center;
    }
}
/* desktop screen */
@media screen and (max-width: 980px) {
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: #D2ACB2;
        border: 2px solid #5260A8;
        text-align: center;
    }
}
/* header adjusmtments */
/* banner image */
.banner img {
    height: auto;
    max-width: 100%;
}

/* titles */
.pagetitle {
    font-size: 50px;
    text-align: center;
    color: #C35079;
}

.subtitle {
    text-align: center;
    color: #5260A8;
}

.heading {
    color: #60a6a4;
}

ul {
    border-style: solid;
    list-style-type: none;
    display: flex;
    font-size: 15px;
    margin: 2% 15%;
    padding: 2%;
    justify-content: space-between;
}


/*body adjust ments*/
body {
    background-color: #F6E7E5;
    text-align: center;
}
p {
    margin-left: 8%;
    margin-right: 8%;
}

/* snapshot images */
.snapshots img {
    border-radius: 50px;
    margin: auto;
    max-width: 200px;
}

.snapshots {
    display: flex;
    flex-direction: row;
}


/* grid adjustments */
.grid-item {
    background-color: white;
    border: 2px solid;
    padding: 5px;
    margin: 5px;
}

.grid-item img {
    max-width: 100%;
    margin: auto;
}