/* importing normalize here */
@import "normalize.css";

/* media quieries */
/* mobile screen */
@media screen and (max-width: 600px) {
    
}
/* tablet screen */
@media screen and (min-width: 782px) {

}
/* desktop screen */
@media screen and (min-width: 980px) {

}


/* importing a font */
@font-face {
    font-family: 'adira_display_ssiregular';
    src: url('anja_eliane-webfont.woff2') format('woff2'),
         url('anja_eliane-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* header adjusmtments */
/* banner image */
.banner img {
    height: auto;
    max-width: 100%;
}

/* titles */
.pagetitle {
    font-family: 'adira_display_ssiregular';
    font-size: 50px;
    text-align: center;
    

}

.subtitle {
    text-align: center;
}

ul {
    border-style: solid;
    list-style-type: none;
    display: flex;
    font-size: 15px;
    margin: 2% 15%;
    padding: 2%;
    justify-content: space-between;
}



/* colors */
body {
    background-color: #FAF9F6;
    text-align: center;
}

/* grid adjustments */
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #D2ACB2;
    border: 2px solid #5260A8;
    text-align: center;

}

.grid-item {
    background-color: white;
    border: 2px solid;
    padding: 5px;
    margin: 5px;

}